* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

h3 {
  margin: 3rem 0 1.3rem 0;
  font-size: 2.4rem;
}

h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.destination {
  background-image: url("../src//images/akoura.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 350px;
}
.destination-container {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  flex-wrap: wrap;
}

.destination-container h2 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

.destination-container p {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
  max-width: 800px;
}
.info-wrapper {
  max-width: 800px;
}

.destination-container ul li {
  margin-bottom: 1rem;
  margin-left: 3rem;
}
.booking-container {
  width: 350px;
  height: fit-content;
  padding: 1.4rem;
  border: 2px solid #242424;
  border-radius: 5px;
}

.booking-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking-info h5 {
  font-size: 1.2rem;
}

.booking-info .price {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.btn-book {
  padding: 12px 26px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #242424;
  color: #fff;
  background-color: #242424;
}

.btn-book:hover {
  background-color: #fff;
  color: #242424;
}

.service_card:hover img{
  transform: scale(1.2);
  cursor: pointer;
}
.service_card:hover .service_title{
  text-decoration: underline;
}
.service_image{
  overflow: hidden;
  margin: 0 auto;
}
.service_image img{
  width: 100%;
  transition: 0.5s all ease-in-out;
}

/* .service_image:hover img{
} */
/* .service_title:hover{
  text-decoration: underline;
} */

@media only screen and (max-width: 798px) {
  .destination-container h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}
